name: Run linter and build

on:
    push:
        branches:
            - main
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
jobs:
    lint_and_build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            checks: write
        steps:
            - name: Check out the repo
              uses: actions/checkout@v4
            - name: Get us in a detached head state on purpose
              run: git checkout ${{ github.sha }}
            - name: Set up Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: lts/*
                  check-latest: true
                  cache: npm
                  cache-dependency-path: package-lock.json
            - name: Install Node.js dependencies
              run: npm ci
            - name: Run linters
              run: npm run lint
            - name: Build
              run: npm run build
            - uses: https://github.com/cachix/install-nix-action@v31
              with:
                nix_path: nixpkgs=channel:nixos-unstable
                github_access_token: ${{ secrets.EXT_GITHUB_TOKEN }}
            - name: Lint nix
              run: nix run 'nixpkgs#nixfmt-tree' -- --ci
            - name: Build nix
              run: nix build .
