name: Nix check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: https://github.com/cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.EXT_GITHUB_TOKEN }}
      - name: Lint nix
        run: nix run 'nixpkgs#nixfmt-tree' -- --ci
      - name: Build nix
        run: nix build .
